@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Medium.eot');
    src: url('../fonts/Archivo-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Archivo-Medium.woff2') format('woff2'),
        url('../fonts/Archivo-Medium.woff') format('woff'),
        url('../fonts/Archivo-Medium.ttf') format('truetype'),
        url('../fonts/Archivo-Medium.svg#Archivo-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Regular.eot');
    src: url('../fonts/Archivo-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Archivo-Regular.woff2') format('woff2'),
        url('../fonts/Archivo-Regular.woff') format('woff'),
        url('../fonts/Archivo-Regular.ttf') format('truetype'),
        url('../fonts/Archivo-Regular.svg#Archivo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Bold.eot');
    src: url('../fonts/Archivo-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Archivo-Bold.woff2') format('woff2'),
        url('../fonts/Archivo-Bold.woff') format('woff'),
        url('../fonts/Archivo-Bold.ttf') format('truetype'),
        url('../fonts/Archivo-Bold.svg#Archivo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.spodsync-index-index {background:#F4F5F7; font-family: 'Archivo'; }
.spodsync-index-index .main-wrp {max-width: 448px; margin: auto; position: absolute; left: 0; right: 0; top: 50%; transform: translateY(-50%);-webkit-transform: translateY(-50%); }
.spodsync-index-index .api-bx-main .top-part {text-align: center; margin-bottom: 22px; }
.spodsync-index-index .top-part .logo a, .top-part .logo img {   display: block;}
.spodsync-index-index .top-part .logo img{margin: auto;}
.spodsync-index-index .top-part .logo {   margin-bottom: 20px;}
.spodsync-index-index .api-bx-main{ font-family: 'Archivo'; font-weight: normal; }
.spodsync-index-index .api-bx-main .top-part h1{font-weight: normal;color: #161E2E;font-size: 30px; text-transform: capitalize;line-height: 1.2;}
.spodsync-index-index .api-form-box{background: #ffffff;box-shadow: 0px 1px 3px #00000026;border-radius: 6px;padding: 40px 46px;}

.spodsync-index-index .api-form-box .input-wrp label {display: block; width: 100%; font-size: 14px; font-weight: normal; line-height: 1.5; margin-bottom: 5px; }
.spodsync-index-index .api-form-box input{width: 100%;background: #FFFFFF;color:#9FA6B2;border-radius: 6px;height: 38px; line-height: 38px; padding: 0 16px;box-shadow: 0px 2px 4px #0000000A;border: 1px solid #D2D6DC;}
.spodsync-index-index .api-form-box .submit-btn-wrp { margin-top: 16px;}
.spodsync-index-index .api-form-box .submit-btn {background: #2563EB;cursor: pointer;border-radius: 6px;height: 37px;box-shadow: none; line-height:37px; padding: 0 20px; color: #ffffff;text-align: center;font-size: 14px; font-weight: 500;}
.spodsync-index-index .fo-btm-part {margin-top: 24px; text-align: center; }
.spodsync-index-index .fo-btm-part > p {    margin-bottom: 6px;color: #6B7280;}
.spodsync-index-index .api-bx-main{font-size: 14px;line-height: 20px;}
.spodsync-index-index .api-bx-main p{font-size: 14px;line-height: 20px;}
.spodsync-index-index .api-bx-main a{color: #3F83F8;}
.spodsync-index-index a{text-decoration: none;}
.spodsync-index-index *:focus{outline: none;}
.spodsync-index-index .api-form-box .loader {display: flex;display:-webkit-flex;color: #4B5563; align-items: center; justify-content: center; clear: both; margin-top: 30px; }
.spodsync-index-index .loader img {margin-right: 24px; display: block; }
.spodsync-index-index .api-form-box .loading{opacity: 0.3;}
.spodsyn-check-icn{background: url("../images/icon-check.png"); width: 20px;height: 20px;}
.api-form-box .input-icn {   position: relative;}
.input-icn .icn {position: absolute; right: 16px; display: inline-block;top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); }
.api-form-box .msg-success{color: #0E9F6E;}
.api-form-box  .msg-txt{display: inline-block;margin-top: 8px;}
.spodsync-index-index .api-form-box .loader.syncing-data {   margin-top: 42px;}
.spodsync-index-index .api-form-box input.error{border-color: #F8B4B4;color: #771D1D;}
.api-form-box .msg-error {   color: #E02424;}
.spodsyn-error-icn{background: url("../images/error.png");display: inline-block; width: 16px;height: 16px;}

.api-form-box .disconnect-part::before {
    content: "";
    width: 100%;
    background: #E5E7EB;
    height: 1px;
    display: block;
    position: absolute;
    left: 0;
    margin-top: -36px;
}
.api-form-box .disconnect-part {
    padding-top: 36px;
    margin-top: 36px;
}
.api-form-box .info-txt.msg-txt {
    color: #9FA6B2;
}
.api-form-box .success-msg{background: #F3FAF7  url("../images/round-check.png") no-repeat ;
border: 1px solid #BCF0DA;line-height: 1;background-position: left 18px center;
border-radius: 6px;padding: 18px 18px 18px 51px;margin-top: 17px;color: #046C4E;}

.disconnect-part p{color: #9FA6B2;}
.disconnect-part .dis-btn {width: 100%;background: #ffffff;cursor: pointer; color: #31323F; border-radius: 6px; height: 37px; line-height: 37px; padding: 0 16px; box-shadow: 0px 2px 4px #0000000A; border: 1px solid #D2D6DC; margin-bottom: 10px; }
.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 { margin: 0; }

.modal-box .modal-body { padding: 2em 1.5em; }

.modal-box footer,
.modal-box .modal-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3) !important;
}

a.close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}



  .pop-outer {
                background-color: rgba(0, 0, 0, 0.5);
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            .pop-inner {
                background-color: #fff;
                width: 500px;
                height: 300px;
                padding: 25px;
                margin: 15% auto;
            }
