<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <spodsync>
            <general>
                <is_staging>0</is_staging>
                <debug_logging>0</debug_logging>
                <liveurl>https://rest.spod.com</liveurl>
                <stagingurl>https://rest.spod-staging.com</stagingurl>
            </general>
            <shipping>
                <phone_placeholder>+4934125049946</phone_placeholder>
            </shipping>
        </spodsync>
    </default>
</config>
