<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="spod:sync" xsi:type="object">Spod\Sync\Console\Productsync</item>
                <item name="spod:webhook" xsi:type="object">Spod\Sync\Console\Webhooks</item>
                <item name="spod:webhook:queue" xsi:type="object">Spod\Sync\Console\WebhookQueue</item>
            </argument>
        </arguments>
    </type>

    <!-- atm: json encode/decode -->
    <preference for="Spod\Sync\Api\ResultDecoder" type="Spod\Sync\Model\Decoder\JsonDecoder" />
    <preference for="Spod\Sync\Api\PayloadEncoder" type="Spod\Sync\Model\Encoder\JsonEncoder" />

    <!-- file based logging -->
    <preference for="Spod\Sync\Api\SpodLoggerInterface" type="Spod\Sync\Model\Logger\PsrLog" />
</config>
