<?xml version="1.0"?>
<config xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="spodsync" frontName="spodsync">
            <module name="Spod_Sync" before="Magento_Backend"/>
        </route>
    </router>
</config>
