<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="spodsync" translate="label" sortOrder="100">
            <label>SPOD</label>
        </tab>

        <section id="spodsync" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>General</label>
            <tab>spodsync</tab>
            <resource>Spod_Sync::general_config</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General Configuration</label>

                <field id="is_staging" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Enable Staging</label>
                    <comment>Use the staging environment or live?</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="debug_logging" translate="label" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Debug Logging</label>
                    <comment>Log operations to var/log/debug.log</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="shipping" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="0">
                <label>Shipping Configuration</label>

                <field id="from_firstname" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1"
                       showInStore="0">
                    <label>Shipping From Address / Firstname</label>
                    <comment>Your firstname in from addresses of outgoing shippings</comment>
                </field>

                <field id="from_lastname" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1"
                       showInStore="0">
                    <label>Shipping From Address / Lastname</label>
                    <comment>Your lastname in from addresses of outgoing shippings</comment>
                    <validate>required-entry</validate>
                </field>

                <field id="phone_placeholder" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Phone Placeholder</label>
                    <validate>required-entry</validate>
                </field>

                <field id="premium_shipping" translate="label" type="multiselect" sortOrder="1" showInDefault="1"
                       showInWebsite="1"
                       showInStore="0">
                    <label>Premium Shipping</label>
                    <tooltip>Methods selected here are getting transmitted to SPOD as Premium Shipping, unless they're
                        also selected as Express.
                    </tooltip>
                    <comment>Selecting a method as Premium overwrites the default Standard shipping.</comment>
                    <source_model>Magento\Shipping\Model\Config\Source\Allmethods</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>

                <field id="express_shipping" translate="label" type="multiselect" sortOrder="1" showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Express Shipping</label>
                    <tooltip>Methods selected here are getting transmitted to SPOD as Express Shipping.</tooltip>
                    <comment>Selecting a method as Express takes precedence over the selection for Premium shipping.
                    </comment>
                    <source_model>Magento\Shipping\Model\Config\Source\Allmethods</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>
